*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #269;
  background-color: #85A4C0;

  background-image: linear-gradient(rgba(255, 255, 255, .3) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255, 255, 255, .3) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, .2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .2) 1px, transparent 1px);

  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 1) 1px, transparent 1px),
    -webkit-linear-gradient(0deg, rgba(255, 255, 255, .5) 1px, transparent 1px),
    -webkit-linear-gradient(rgba(255, 255, 255, .2) 1px, transparent 1px),
    -webkit-linear-gradient(0deg, rgba(255, 255, 255, .2) 1px, transparent 1px);


  background-size: 200px 200px, 200px 200px, 20px 20px, 20px 20px;
  background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
  font-family: Helvetica, sans-serif;
  color: #fff;
}


#bar {
  font-size: 170px;
  color: #999;
}

.ft-bg {
  float: left;
  width: 300px;
  height: 300px;
  text-align: center;
  color: rgba(255, 255, 255, .2);
  line-height: 200px;

  background: url(../images/chess-board.png) no-repeat;
  background-size: 100%, 100%;

  margin: 0 20px 20px 0;
}


.ft-html {
  float: left;
  background: url(../images/cat.jpg) no-repeat;
  background-size: 100%, 100%;
  width: 300px;
  height: 300px;
  margin: 0 20px 20px 0;
}

.ft-controls {
  top: 0;
  left: 0;
  position: absolute;
}

.ft-controls div {
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: move;
  z-index: 1;
  border-radius: 100%;
}

.ft-controls div:hover {
  background-color: red;
}

.ft-test {
  background-color: red;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 800px;
}
